{% extends "layout.html" %}
{% block content %}
{% if user_nm == None %}
    <h3>Login to contribute</h3>
{% else %}
    <h3>Message board</h3>
{% endif %}
{% if user_nm != None %}
<div class="content-section">
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4">Create New Blog</legend> -->
                <div class="form-group">
                        <!-- {{ form.content.label(class="form-control-label") }} -->
                        {{ form.placeholder}}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endif %}
    {% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" >{{ post.user_nm }}</a>
            <a class="mr-2" >{{ post.time_ }}</a>
            {% if user_nm == post.user_nm %}
            <a href="/blog/edit/{{ post.time_.replace('/', '-') }}/{{ post.user_nm }}/{{ post.comp_nm }}" class="ml-2" >edit</a>
            <a href="/blog/delete/{{ post.time_.replace('/', '-') }}/{{ post.user_nm }}/{{ post.comp_nm }}" class="ml-2" >delete</a>
            {% endif %}            
          </div>
          <!-- <h2><a class="article-title" href="#">{{ post.content }}</a></h2> -->
          <p class="article-content">{{ post.post }}</p>
        </div>
      </article>
    {% endfor %}


{% endblock content %}