{% extends "layout.html" %}
{% block content %}
<h2>Create Team</h2>
<h4>Select four contestants</h4>
<div class="content-section">
<form method="POST" action="">
<table style="width:100%">
    <tr>
        <th>Selected</th>
        <th>Contestant</th>
    </tr>
{% for contestant in contestants %}
      <tr>
        <td><input type="checkbox" name="checkboxes-{{ contestant.contestant_id }}" value="{{ contestant.contestant_id }}"></td>
        <td>{{ contestant.name }}</td>
    </tr>
{% endfor %}
</table>

<div class="form-group">
    name:
    <input type="text" name="team_name" value="" aria-label="team name">
</div>
<div class="form-group">
    <input type="submit" name="submit" value="create my team">
</div>
</form>
</div>
{% endblock content %}