{% extends "layout.html" %}
{% block content %}
<h2>These are your team members</h2>
<div class="content-section">
<table style="width:100%">
    <tr>
        <th>Contestant</th>
        <th>Age</th>
        <th>Home town</th>
    </tr>
   {% for result in results %}
      <tr>
        <td>{{ result.name }}</td>
        <td>{{ result.age }}</td>
        <td>{{ result.origin_town }}</td>
    </tr>
{% endfor %}
</table>
</div>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete</legend>
<div class="form-group">
    {{ form.delete_btn(class="btn btn-outline-info") }}
</div>
</fieldset>
</form>
{% endblock content %}